
<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/public/stylesheets/style.css' />
    {{>head}} //partial definition
</head>
<body>
{{{ body }}}  //body is placed
</body>
</html>
